@font-face {
  font-family: "iconfont"; /* Project id 3603575 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3603575_khtb9uijf5.woff2?t=1668593744492') format('woff2'),
       url('//at.alicdn.com/t/c/font_3603575_khtb9uijf5.woff?t=1668593744492') format('woff'),
       url('//at.alicdn.com/t/c/font_3603575_khtb9uijf5.ttf?t=1668593744492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenghuo:before {
  content: "\e633";
}

.icon-bibi:before {
  content: "\e629";
}

.icon-anzhuo:before {
  content: "\e60c";
}

.icon-huawei:before {
  content: "\e610";
}

.icon-minecraft:before {
  content: "\e7f9";
}

.icon-wangluo:before {
  content: "\e628";
}

.icon-kaifa:before {
  content: "\e6ae";
}

.icon-WEBqianduan:before {
  content: "\e61d";
}

.icon-java:before {
  content: "\e639";
}

.icon-bigdata:before {
  content: "\e854";
}

.icon-Python:before {
  content: "\e891";
}

.icon-leetcode:before {
  content: "\e60d";
}

.icon-danmu:before {
  content: "\e612";
}

.icon-a-tupianyihuifu-14:before {
  content: "\e605";
}

.icon-sousuowendang:before {
  content: "\e607";
}

.icon-yueliang:before {
  content: "\e662";
}

.icon-taiyang:before {
  content: "\e6db";
}

.icon-kaixin:before {
  content: "\e6c8";
}

.icon-erji:before {
  content: "\e6a3";
}

.icon-ziyuan:before {
  content: "\e606";
}

.icon-dianying:before {
  content: "\e6c6";
}

.icon-xiangce:before {
  content: "\ffc4";
}

.icon-hudiejie:before {
  content: "\e6a4";
}

.icon-yaoqinghaoyou:before {
  content: "\ffbb";
}

.icon-guidang:before {
  content: "\e6b9";
}

.icon-tags1:before {
  content: "\e663";
}

.icon-social-wechat:before {
  content: "\e624";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e722";
}

.icon-email:before {
  content: "\e6a1";
}

.icon-social-qq:before {
  content: "\e626";
}

.icon-yulezhongxin:before {
  content: "\e61f";
}

.icon-Cat:before {
  content: "\e9e7";
}

.icon--article:before {
  content: "\e651";
}

.icon-links:before {
  content: "\e7aa";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-categories:before {
  content: "\e6a0";
}

.icon-pinglun:before {
  content: "\e642";
}

