/* 左侧边栏伸缩音乐播放器 */
.contact-info {
  position: fixed;
  bottom: 33%;
  z-index: 200;
  left: -51px;
  transition: 0.4s;
}

.contact-info:hover {
  left: 0px;
}

.contact-info .option {
  cursor: pointer;
  position: relative;
  margin: 2px 0px;
}

.contact-info .option i {
  display: block;
  width: 50px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: rgb(255, 255, 255);
  color: #b9b9b9;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 0 10px 10px 0;
}

.contact-info .option:hover i {
  color: #17f4ec;
}

.contact-info .text {
  border-radius: 15px;
  position: absolute;
  height: 60px;
  width: 200px;
  background: rgba(255, 255, 255, .85);
  top: 0;
  z-index: -1;
  left: -135px;
  color: rgb(0, 0, 0);
  line-height: 60px;
  text-align: center;
  transition: 0.4s;
}

.contact-info .aplayertext {
  transition: none !important;
}

.aplayer {
  position: absolute !important;
}

.aplayer.aplayer-fixed .aplayer-body {
  left: 0;
  position: absolute !important;
  width: 370px !important;
  transition: none !important;
  border-radius: 10px !important;
}

.aplayer.aplayer-fixed {
  left: -300px !important;
}

.contact-info .option:hover .aplayer.aplayer-fixed .aplayer-body,
.contact-info .option:hover .aplayer.aplayer-fixed {
  left: 0px !important;
}

.contact-info .option:hover .text {
  left: 60px;
}

.contact-info .blok {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}

.contact-info .bloktop {
  position: absolute;
  height: 75px;
  width: 100px;
  bottom: 0px;
  z-index: -1;
  left: 0px;
}

.contact-info .blokbottom {
  position: absolute;
  height: 75px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}

.contact-info .option:hover .blok,
.contact-info .option:hover .bloktop,
.contact-info .option:hover .blokbottom {
  left: 0px;
}

.contact-info .option:hover .aplayertext {
  left: 66px !important;
  width: 370px !important;
  background: transparent !important;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
  border-radius: 0 10px 10px 0 !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  transition: 0.3s !important;
  border-radius: 10px !important;
}

.aplayer .aplayer-pic {
  height: 60px !important;
}

.aplayer .aplayer-info {
  height: 60px !important;
}

.aplayer.aplayer-narrow .aplayer-body {
  height: 60px;
}

.aplayer .aplayer-list.aplayer-list-hide {
  margin-bottom: 59px !important;
}

.aplayer.aplayer-fixed .aplayer-list {
  margin-bottom: 62px !important;
  max-height: 240px !important;
}

.aplayer.aplayer-fixed .aplayer-info {
  transition: none !important;
}

.aplayer.aplayer-narrow .aplayer-body {
  height: 60px !important;
}

.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic {
  border-radius: 10px 0 0 10px !important;
}

.aplayer.aplayer-fixed {
  border-radius: 10px !important;
}

.aplayer .aplayer-pic {
  border-radius: 0 0 0 10px !important;
}

.aplayer.aplayer-fixed .aplayer-list {
  border-radius: 10px 10px 0 0 !important;
}

[data-theme=dark] .contact-info .option i {
  background: rgb(22, 22, 22);
  color: #b9b9b9;
}

[data-theme=dark] .contact-info .text {
  background: rgba(23, 23, 23, 0.85);
  color: rgba(255, 255, 255, 0.92);
}

@media screen and (max-width:1300px) {
  .contact-info {
    display: none !important;
  }
}

.aplayer {
  opacity: .8 !important;
}

[data-theme=dark] .aplayer {
  background: rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255);
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-body {
  background: rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255);
}

[data-theme=dark] .aplayer .aplayer-list ol li:hover {
  background: #3b3b3b;
}

[data-theme=dark] .aplayer .aplayer-list ol li.aplayer-list-light {
  background: #686868;
}

[data-theme=dark] .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-list ol li .aplayer-list-author {
  color: #d4d4d4;
}

[data-theme=dark] .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  fill: #d4d4d4;
}

.contact-info .text .strip {
  border-radius: 5px;
  position: absolute;
  height: 36px;
  width: 5px;
  background: rgba(251, 8, 109, 0.8);
  top: 12px;
  z-index: -1;
  right: 4px;
  transition: 0.4s;
}

.aplayertext .strip {
  transition: none !important;
}

.contact-info .option:hover .aplayertext .strip {
  background: transparent;
}

[data-theme=dark] .aplayer .aplayer-miniswitcher {
  background: rgba(23, 23, 23, 0.85);
}

.aplayer .aplayer-miniswitcher .aplayer-icon:hover path {
  fill: #11eeea;
}

[data-theme=dark] .contact-info .option:hover i {
  color: #ca0cef;
}

/* 歌词样式修改 */
.aplayer .aplayer-lrc p {
  opacity: .8 !important;
  color: #d5b4fa;
}