#post-comment .comment-barrage {
  position: fixed;
  bottom: 0;
  right: 55px;
  padding: 0 0 30px 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  #post-comment .comment-barrage {
    display: none;
  }
}

#post-comment .comment-barrage-item {
  min-width: 100px;
  max-width: 160px;
  width: fit-content;
  min-height: 80px;
  max-height: 120px;
  margin: 3px 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  color: #fff;
  animation: barrageIn 0.3s cubic-bezier(.25, .01, .5, 1.5);
  transition: 1s;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#post-comment .comment-barrage-item.out {
  opacity: 0;
}

@keyframes barrageIn {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1.0);
  }
}


#post-comment .comment-barrage-item .barrageHead {
  height: 23px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid rgba(249, 51, 110, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#post-comment .comment-barrage-item .barrageAvatar {
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
}

#post-comment .comment-barrage-item .barrageContent {
  font-size: 12px;
  height: calc(100% - 30px);
  overflow: scroll;
}

#post-comment .comment-barrage-item .barrageContent::-webkit-scrollbar {
  height: 0;
  width: 4px;
}

#post-comment .comment-barrage-item .barrageContent::-webkit-scrollbar-button {
  display: none;
}