#post-comment .comment-barrage {
  position: fixed;
  bottom: 0;
  right: 56px;
  padding: 0 0 44px 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  #post-comment .comment-barrage {
    display: none;
  }
}

#post-comment .comment-barrage-item {
  /* min-width: 120px; */
  max-width: 220px;
  width: fit-content;
  /* min-height: 80px; */
  max-height: 110px;
  margin: 2px 0 0;
  padding: 10px 16px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10px;
  backdrop-filter: saturate(180%) blur(30px);
  color: rgb(0, 0, 0);
  animation: barrageIn 0.3s cubic-bezier(.25, .01, .5, 1.5);
  transition: .6s;
  display: flex;
  flex-direction: column;
}
[data-theme='dark'] #post-comment .comment-barrage-item {
  max-width: 220px;
  width: fit-content;
  max-height: 110px;
  margin: 2px 0;
  padding: 10px 16px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(30px);
  color: rgb(0, 0, 0);
  animation: barrageIn 0.3s cubic-bezier(.25, .01, .5, 1.5);
  transition: .6s;
  display: flex;
  flex-direction: column;
}

#post-comment .comment-barrage-item.out {
  opacity: 0;
}

@keyframes barrageIn {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1.0);
  }
}


#post-comment .comment-barrage-item .barrageHead {
  height: 23px;
  padding: 4px 0;
  line-height: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#post-comment .comment-barrage-item .barrageHead .barrageNick{
  /* background-color: rgba(207, 128, 25, 0.3); */
  color: black;
  font-weight: 800;
  border-radius: 4px;
  padding: 2px 4px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 16px;
}


#post-comment .comment-barrage-item .barrageAvatar {
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
}

#post-comment .comment-barrage-item .barrageContent {
  font-size: 14px;
  line-height: 1.1;
  /* height: calc(100% - 30px); */
  overflow: scroll;
}

#post-comment .comment-barrage-item .barrageContent::-webkit-scrollbar {
  width: 1px;
}

#post-comment .comment-barrage-item .barrageContent::-webkit-scrollbar-button {
  display: none;
}