/* @font-face {
  font-family: Candyhome;
  src: url(https://cdn.cbd.int/anzhiyu-blog@latest/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */

/* @import "//at.alicdn.com/t/c/font_3603575_86n1rki3ukk.css"; */

/* @font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://cdn.cbd.int/anzhiyu-blog@latest/fonts/ZhuZiAWan.woff2);
    font-display: swap;
    font-weight: lighter;
} */

/* 总体布局 */
.layout {
    max-width: 1450px;
}

/* body{
    zoom: 90%;
} */


/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/UcHLIMn7LM0lPSz8d5U7n.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/r47k1bk_QB8W0K3Pog6Kb.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 105 Heavy";
    font-weight: 900;
    src: url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/H029AUwhXBHEMJYgO_mpQ.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/uxCheG_HUTBHyqkAihfLM.woff") format("woff");
    font-display: swap;
}

.bangumi-item .bangumi-picture img {
    border-radius: 6px;
}

/* 主页中间博客名位置 */
#page-header.full_page #site-info {
    top: 38%;
}

/* .card-category-list,
.card-tag-cloud {
    border: 2px solid hotpink;
    border-radius: 8px;
} */

/* 两款主题同一透明度0.8 */
#vpanel {
    opacity: .8;
}

/* 蕾姆rem看板娘 */
#paul {
    left: 0;
    bottom: 0;
    z-index: 520;
    /* 如果模型被遮住可以把它改的更大 */
    position: fixed;
    pointer-events: none;
    /* 防止遮住鼠标点击页面其他内容 */
}

#pagination {
    margin: 0 auto;
}

/* 宽屏模式 */


/* 视频背景 */
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    /*灰色调*/
    /*-webkit-filter:grayscale(100%)*/
}

/* 导航栏隐藏 */
/* .menus_item_child{
    color: white;
  } */
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    border-radius: 8px;
}

.article-sort-item-img {
    border-radius: 8px;
    width: 150px;
    margin-right: 10px;
}

.article-sort-item-info {
    border-left: 4px solid black;
    border-radius: 20px;
}

.article-sort-item-title {
    font-weight: 900;
    font-size: 20px;
}

.article-sort-item-title:hover {
    color: hotpink;

}


#aside-content #card-toc .toc-content .toc-link.active {
    background: hotpink;
    border-radius: 8px;
}


h1#site-title {
    font-family: "阿里妈妈数黑体 Bold";
    font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
    font-family: "阿里巴巴普惠体 2.0 105 Heavy";
}

/* #aside-content .card-webinfo {
    background: url('https://img1.imgtp.com/2022/08/24/tSMdJ5gW.png');
} */

#aside-content .card-widget:last-child {
    background: url('https://img1.imgtp.com/2022/08/24/tSMdJ5gW.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
    color: hotpink;
    font-weight: 800;
    font-size: 16px;
}

#aside-content .card-webinfo .webinfo .webinfo-item {
    padding: 0 10px;
}

/* blog-slider__img */
/* .blog-slider__pagination .swiper-pagination-bullet {
    background: #6b0a1a;
    background: #6b0a1a;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active{
    background: #33040b;
  } */

/* 首页磁贴卡片美化 */
#recent-posts>.recent-post-item {
    border: 2px solid black;
}

#recent-posts>.recent-post-item:hover {
    border: 2px solid pink;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title:hover {
    color: rgb(251, 169, 183);
    font-size: 1.23em;
}

/* 时间轴生肖icon */
svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-zhongbiao::before {
    color: #f7c768;
}

.tk-meta-input .el-input-group__prepend {
    background-color: pink;
}

/* bilibli番剧插件 */
.bangumi-active {
    background: #dbecfe !important;
    border-radius: 10px !important;
}

a.bangumi-tab:hover {
    text-decoration: none !important;
}

.bangumi-button:hover {
    background: #dbecfe !important;
    border-radius: 10px !important;
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
}

.bangumi-button {
    padding: 5px 10px !important;
}

a.bangumi-tab {
    padding: 5px 10px !important;
}

svg.icon.faa-tada {
    font-size: 1.1em;
}

/* 解决artitalk的图标问题 */
#uploadSource>svg {
    width: 1.19em;
    height: 1.5em;
}

/* 侧边时钟样式修改 */
#hexo_electric_clock .clock-row {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.card-clock-time {
    font-family: DS-Digital;
    background: linear-gradient(to right, #79fff4, #005eff);
    -webkit-background-clip: text;
    color: transparent;
}

#pagination.pagination-post {
    border: 2px dashed pink;
}

#post>.post-content {
    font-weight: 600;
}

.contrib-number:hover {
    color: rgb(253, 82, 167);
}

/* 分类页面 */
.category-list-item {
    font-size: 20px;
    font-weight: 900;
}

.relatedPosts>.relatedPosts-list>div {
    height: 140px;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
    position: absolute;
    top: 0;
    color: black;
    height: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 0.8em;
    padding: 0 3px;
    background-color: pink;
    border-radius: 0 0 5px 5px;
    border: 1px groove hotpink;
    border-top: 0;
}

.newPost-left:hover {
    height: 1.25em;
    color: black;
    background-color: hotpink;
    border-top: 1px solid hotpink;
    line-height: 0.9em;
}

.newPost-left {
    left: 4px;
}

.newPost-right {
    left: 4px;
}

.newPost-right:hover {
    height: 1.25em;
    color: black;
    background-color: hotpink;
    border-top: 1px solid hotpink;
    line-height: 0.9em;
}

#recent-posts>.recent-post-item {
    position: relative;
}

/* 魔改标签 */
.tag-cloud-list {
    font-weight: 800;
    border-radius: 8px;
    border: 2px solid hotpink;
}

.tag-cloud-list a {
    border-radius: 8px;
    margin: 5px 5px;
    border: 1px solid transparent;
}

#aside-content .card-info .author-info__name {
    font-weight: 900;
    font-size: 1.99em;
}

/* 公告栏 */
.aside-content .item-headline:first-child {
    color: hotpink;
    font-weight: 800;
}

.announcement_content {
    font-weight: 700;
}

.recent-posts .recent-post-item .content {
    font-family: 'STXingkai', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
    /* background-color: transparent !important; */
    background-color: transparent;
}


[data-theme='dark'] #web_bg:before,
[data-theme='dark'] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    content: '';
}



/* 文章总览修改 */
.article-sort-title {
    font-size: 2.33em;
    font-weight: 900;
}

#post .tag_share .post-meta__tags {
    font-size: 0.9em;
    border: 1px solid blueviolet;
    color: hotpink;
}

#pagination .page-number.current {
    border-radius: 5px;
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255, 0.9);
}

/*夜间模式伪类遮罩层透明*/
[data-theme='dark'] #recent-posts>.recent-post-item {
    background: rgba(0, 0, 0, 0.9);
}

[data-theme='dark'] .card-widget {
    background: rgba(0, 0, 0, 0.9) !important;
}

[data-theme='dark'] div#post {
    background: rgba(0, 0, 0, 0.9) !important;
}

[data-theme='dark'] div#tag {
    background: rgba(0, 0, 0, 0.9) !important;
}

[data-theme='dark'] div#archive {
    background: rgba(0, 0, 0, 0.9) !important;
}

[data-theme='dark'] div#page {
    background: rgba(0, 0, 0, 0.7) !important;
}

[data-theme='dark'] div#category {
    background: rgba(0, 0, 0, 0.9) !important;
}


/* 头图透明 */
#page-header {
    background: transparent !important;
}

#rightside>div>button {
    border-radius: 5px;
}

/* #recent-posts>.recent-post-item {
    height: 14.5em;
} */


/* 鼠标图标 */
/* body {
    cursor: url('/img/pointer.cur'), auto;
}

a,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: url('/img/link.cur'), auto !important;
} */

/* 404页面 */
#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
}

#error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
}

#error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #49b1f5;
    background-position: center;
    background-size: cover;
}

#error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--heo-card-bg);
    display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
}

/* 首页文章卡片高度增加1em */
/* #recent-posts>.recent-post-item {

    height: 19em;
} */
.contrib-column {
    line-height: 1.2;
}

/* 代码框主题 */
#article-container figure.highlight {
    border-radius: 10px;
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black !important;
}

#aside-content .card-widget:hover {
    border: 2px solid pink !important;
}

.gitcalendar-graph {
    padding: 5px 0 0 !important;

}

.social-qq:before {
    content: "\e626";
    /* 修改颜色 */
    /* color: blue; */
    /* 修改大小 */
    font-size: 24px;
}

span#subtitle:hover {
    color: pink;
    box-shadow: 2px 2px 1px black;
}

/* 文章总览页面 */
.layout>div:first-child {
    /* width: 100%; */
}

/* 去除aside */
.page .aside-content {
    /* display: none; */
}

/* 主题切换背景图片切换 */
[data-theme='dark'] #web_bg {
    background-image: url("/img/Ender_Dragon.png");
}

[data-theme='light'] #web_bg {
    background-image: url("/img/hutao.jpeg");
}

#article-container .flink .flink-list>.flink-list-item {
    margin: 5px 7px !important;
}

/* 相册页面原神卡片重设计 */
/* #article-container>p:nth-child(2)>a {
    width: 100%;
    display: block;
    border-radius: 10px;
}

#article-container>p:nth-child(2)>a>img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

#article-container>p:nth-child(2) {
    background: linear-gradient(112.88411960494409deg, rgba(248, 198, 215, 1) 2.265625%, rgba(175, 233, 249, 1) 100.70312499999999%);
    padding: 1%;
    border-radius: 10px;
} */

#article-container .btn-beautify.outline {
    border-radius: 20px;
    border: 5px solid;
}

#article-container>.genshin-card {
    background: linear-gradient(112.88411960494409deg, rgba(248, 198, 215, 1) 2.265625%, rgba(175, 233, 249, 1) 100.70312499999999%);
    padding: 1%;
    border-radius: 10px;
}

#article-container>.genshin-card>a>img {
    width: 80%;
    border-radius: 10px;
}