/* @font-face {
  font-family: Candyhome;
  src: url(https://cdn.cbd.int/anzhiyu-blog@latest/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */

/* @import "//at.alicdn.com/t/c/font_3603575_86n1rki3ukk.css"; */

@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://cdn.cbd.int/anzhiyu-blog@latest/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

.bangumi-item .bangumi-picture img {
  border-radius: 6px;
}

/* 主页中间博客名位置 */
#page-header.full_page #site-info {
  top: 38%;
}

.card-category-list,
.card-tag-cloud {
  border: 2px solid hotpink;
  border-radius: 8px;
}

/* 上一篇 || 下一篇 */
#pagination.pagination-post {
  background: transparent;

}

#pagination.pagination-post a:hover {
  color: hotpink;
  font-size: 19px;
}

.layout>div:not(.recent-posts) .pagination .page-number {
  margin: 0 4px;
  min-width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.8;
  font-size: 600;
  color: black;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid hotpink;
  border-radius: 8px;
}

/* 导航栏隐藏 */
/* .menus_item_child{
  color: white;
} */
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  border-radius: 8px;
}

.article-sort-item-img {
  border-radius: 8px;
  width: 180px;
  margin-right: 10px;
}

.article-sort-item-info {
  border-left: 4px solid black;
  border-radius: 20px;
}

.article-sort-item-title {
  font-weight: 900;
  font-size: 20px;
}

.article-sort-item-title:hover {
  color: hotpink;
}

/* 相关推荐 */
.relatedPosts>.relatedPosts-list>div {
  border-radius: 8px;
  border: 2px solid pink;
}

.relatedPosts>.relatedPosts-list>div a:hover {
  font-size: 16px;
}

div#post {
  border: 2px solid black;
}

div#post:hover {
  border: 2px solid pink;
  box-sizing: border-box;
}

#aside-content #card-toc .toc-content .toc-link.active {
  background: hotpink;
  border-radius: 8px;
}

div#menus {
  font-family: 'ZhuZiAYuanJWD';
}

h1#site-title {
  font-family: ZhuZiAYuanJWD;
  font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: ZhuZiAYuanJWD;
}

#aside-content .card-webinfo {
  background: url('https://img1.imgtp.com/2022/08/24/tSMdJ5gW.png');
}

#aside-content .card-widget:last-child {
  background: url('https://img1.imgtp.com/2022/08/24/tSMdJ5gW.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
  color: hotpink;
  font-weight: 800;
  font-size: 16px;
}
#aside-content .card-webinfo .webinfo .webinfo-item {
  padding: 0 10px;
}
/* .iconfont {
    font-family: 'iconfont' !important;
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-zhongbiao::before {
  color: #f7c768;
}

.tk-meta-input .el-input-group__prepend {
  background-color: pink;
}

/* bilibli番剧插件 */
.bangumi-active {
  background: #dbecfe !important;
  border-radius: 10px !important;
}

a.bangumi-tab:hover {
  text-decoration: none !important;
}

.bangumi-button:hover {
  background: #dbecfe !important;
  border-radius: 10px !important;
}

a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}

.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}

svg.icon.faa-tada {
  font-size: 1.1em;
}

/* 解决artitalk的图标问题 */
#uploadSource>svg {
  width: 1.19em;
  height: 1.5em;
}

/* 侧边时钟样式修改 */
#hexo_electric_clock .clock-row {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.card-clock-time {
  font-family: DS-Digital;
  background: linear-gradient(to right, #47f0ff, #0899ff);
  -webkit-background-clip: text;
  color: transparent;
}

#post>.post-content {
  font-weight: 600;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: pink;
  border-radius: 0 0 10px 10px;
  border: 1px groove hotpink;
}

.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}

#recent-posts>.recent-post-item {
  position: relative;
}

/* 魔改标签 */
.tag-cloud-list {
  border-radius: 8px;
  border: 2px solid hotpink;
}

.tag-cloud-list a {
  border-radius: 8px;
  margin: 5px 5px;
  border: 1px solid transparent;
}

#aside-content .card-info .author-info__name {
  font-weight: 900;
  font-size: 1.99em;
}

/* 公告栏 */
.aside-content .item-headline:first-child {
  color: hotpink;
  font-weight: 800;
}

.announcement_content {
  font-weight: 700;
}

.recent-posts .recent-post-item .content {
  font-family: 'STXingkai', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aplayer .aplayer-miniswitcher {
  background-color: pink;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-miniswitcher .aplayer-icon {
  background: pink;
  opacity: .5;

}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  /* background-color: transparent !important; */
  background-color: transparent;
}

body {
  /* background: rgba(18, 13, 13, 0.5) ; */
  /* background: url('https://img1.imgtp.com/2022/08/23/BZFyrPa2.jpeg') repeat left center; */
  /* background: url('https://img1.imgtp.com/2022/08/23/624er98D.png') no-repeat center; */
}

/* nav 设置透明 */
#page-header.nav-fixed #nav {
  background: rgba(60, 49, 57, 0.8)
}

#page-header.not-top-img #nav {
  background: rgba(32, 30, 30, 0.8);
}

/* 文章总览修改 */
.article-sort-title {
  font-size: 2.33em;
  font-weight: 900;
}

#post .tag_share .post-meta__tags {
  font-size: 0.9em;
  border: 1px solid blueviolet;
  color: hotpink;
}

#post .post-copyright {
  color: hotpink;
  background-color: rgba(24, 240, 255, 0.8);
  border-radius: 8px;
}

/* 文章下面标签 */
#post .tag_share .post-meta__tags:hover {
  background: #ffc0cb;
  color: cyan;
  border: 1px solid cyan;
}

#pagination .page-number.current {
  border-radius: 5px;
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.8);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.8);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.8);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.8);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.8);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.8);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.8);
}

/*夜间模式伪类遮罩层透明*/
[data-theme='dark'] #recent-posts>.recent-post-item {
  background: #121212;
}

[data-theme='dark'] .card-widget {
  background: #121212 !important;
}

[data-theme='dark'] div#post {
  background: #121212 !important;
}

[data-theme='dark'] div#tag {
  background: #121212 !important;
}

[data-theme='dark'] div#archive {
  background: #121212 !important;
}

[data-theme='dark'] div#page {
  background: #121212 !important;
}

[data-theme='dark'] div#category {
  background: #121212 !important;
}

[data-theme='dark'] div#category {
  background: transparent !important;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
  height: 66px;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

#rightside>div>button {
  border-radius: 5px;
}

#recent-posts>.recent-post-item {
  height: 14.5em;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: rgb(29, 24, 24);
  background-color: pink;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
    display: none !important;
  } */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
}

/* 下一篇 || 上一篇 */
#pagination.pagination-post {
  border-radius: 10px;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

#article-container a:hover {
  color: blue;
}

/* 设置评论框 */

.twikoo {
  box-shadow: 2px 2px 5px #bbb;
  color: black;
  background: rgba(4, 148, 209, 0.8);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

.twikoo .el-input__inner:hover,
.twikoo .el-textarea__inner:hover {
  border-color: rgba(255, 0, 25, 0.5);
}

.twikoo input {
  color: black;
}

.tk-content::before {
  border-right: 15px solid hotpink;
  top: 6px;
}

.tk-content {
  background: hotpink;
  padding: 1px 20px;
}

.tk-content p {
  margin: 6px 6px;
}

/* 鼠标图标 */
/* body {
    cursor: url('/img/x1.cur'), auto;
  }
  a,
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled),
  button:not(:disabled) {
    cursor: url('/img/x2.cur'), auto !important;
  } */
/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #49b1f5;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--heo-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}



.social-qq:before {
  content: "\e626";
  /* 修改颜色 */
  /* color: blue; */
  /* 修改大小 */
  font-size: 24px;
}