/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "ali-black";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/ngx4Rto7QDaF0wjwWujj1.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/A5DV5XIJJ9_XT5C2t2NRE.woff") format("woff");
    font-display: swap;
}

/* 胡桃video */
/* #video-hutao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
} */

#body-wrap .full_page .index-video {
    display: block !important;
}

.recent-posts .recent-post-item.firstpost-item {
    width: 100% !important;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap .article-meta__tags {
    padding: 3px;
    border-radius: 4px
}

/* 主题切换背景图片切换 */
[data-theme='dark'] #web_bg {
    background-image: url("/img/ender_dragon.jpg");
}

[data-theme='light'] #web_bg {
    background-image: url("/img/hutao.jpg");
}

.bangumi-item .bangumi-picture img {
    border-radius: 6px;
}

/* 主页中间博客名位置 */
#page-header.full_page #site-info {
    top: 38%;
}

/* 两款主题同一透明度0.8 */
#vpanel {
    opacity: .8;
}

/* 蕾姆rem看板娘 */
#paul {
    left: 0;
    bottom: 0;
    z-index: 520;
    /* 如果模型被遮住可以把它改的更大 */
    position: fixed;
    pointer-events: none;
    /* 防止遮住鼠标点击页面其他内容 */
}

#pagination {
    margin: 0 auto;
}

/* 视频背景 */
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    /*灰色调*/
    /*-webkit-filter:grayscale(100%)*/
}

h1#site-title {
    font-family: "ali-black";
    font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
    font-family: "ali-black";
}

#aside-content .card-widget:last-child {
    background: url('https://bu.dusays.com/2022/11/17/6375f55771d07.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
    color: hotpink;
    font-weight: 800;
    font-size: 16px;
}

#aside-content .card-webinfo .webinfo .webinfo-item {
    padding: 0 10px;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap>.tags::before {
    content: "\A";
    white-space: nowrap !important;
}

/* 首页文章显示三栏 */
#recent-posts>.recent-post-item:nth-child(n+2) {
    width: 32.3%;
}

@media screen and (max-width: 768px) {
    #recent-posts>.recent-post-item:nth-child(n+2) {
        width: 100%;
    }
}

#recent-posts>.recent-post-item .post_cover {
    height: 12rem !important;
}

/* 首页磁贴卡片美化 */
#recent-posts>.recent-post-item {
    position: relative;
    border: 2px solid black;
}

#recent-posts>.recent-post-item:hover {
    border: 2px solid pink;
}

.icon-zhongbiao::before {
    color: #f7c768;
}

.tk-meta-input .el-input-group__prepend {
    background-color: pink;
}

/* bilibli番剧插件 */
.bangumi-active {
    background: #dbecfe !important;
    border-radius: 10px !important;
}

a.bangumi-tab:hover {
    text-decoration: none !important;
}

.bangumi-button:hover {
    background: #dbecfe !important;
    border-radius: 10px !important;
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
}

.bangumi-button {
    padding: 5px 10px !important;
}

a.bangumi-tab {
    padding: 5px 10px !important;
}

svg.icon.faa-tada {
    font-size: 1.1em;
}

/* 解决artitalk的图标问题 */
#uploadSource>svg {
    width: 1.19em;
    height: 1.5em;
}

/* 侧边时钟样式修改 */
#hexo_electric_clock .clock-row {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.card-clock-time {
    font-family: DS-Digital;
    background: linear-gradient(to right, #79fff4, #005eff);
    -webkit-background-clip: text;
    color: transparent;
}

/* 公告 */
/* .announcement-detail{
    height: 250px;
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
} */

/* 最新文章图标 */
.newPost-left,
.newPost-right {
    position: absolute;
    top: 0;
    color: black;
    height: 1.8em;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
    padding: 0 10px;
    background-color: rgb(140, 140, 255);
    border-radius: 0 0 8px 8px;
}

.newPost-left {
    left: 16px;
}

.newPost-right {
    left: 16px;
}

/* 公告栏 */
.aside-content .item-headline:first-child {
    color: #9a37c5;
    font-weight: 900;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
    background-color: transparent;
}

[data-theme='dark'] #web_bg:before,
[data-theme='dark'] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    content: '';
}

#pagination .page-number.current {
    border-radius: 5px;
}

.announcement-detail {
    font-weight: 900;
}

/* 首页文章卡片 */
/* #recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.8);
} */

/* 文章页面正文背景 */
/* div#post {
    background: rgba(255, 255, 255, 0.8);
} */

/* 分页页面 */
/* div#page {
    background: rgba(255, 255, 255, 0.8);
} */

/* 归档页面 */
/* div#archive {
    background: rgba(255, 255, 255, 0.8);
} */

/* 标签页面 */
/* div#tag {
    background: rgba(255, 255, 255, 0.8);
} */

/* 分类页面 */
/* div#category {
    background: rgba(255, 255, 255, 0.8);
} */

/*夜间模式伪类遮罩层透明*/
/* [data-theme='dark'] #recent-posts>.recent-post-item {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] .card-widget {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] div#post {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] div#tag {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] div#archive {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] div#page {
    background: rgba(0, 0, 0, 0.8) !important;
}

[data-theme='dark'] div#category {
    background: rgba(0, 0, 0, 0.8) !important;
} */

/* 头图透明 */
#page-header {
    background: transparent !important;
}

#rightside>div>button {
    border-radius: 5px;
}

/* 鼠标图标 */
/* body {
    cursor: url('/img/pointer.cur'), auto;
}

a,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: url('/img/link.cur'), auto !important;
} */

/* 404页面 */
#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
}

#error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
}

#error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #49b1f5;
    background-position: center;
    background-size: cover;
}

#error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--heo-card-bg);
    display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
}

.contrib-column {
    line-height: 1.2;
}

/* 代码框主题 */
#article-container figure.highlight {
    border-radius: 10px;
}

#aside-content .card-widget {
    border: 2px solid black !important;
}

#aside-content .card-widget:hover {
    border: 2px solid pink !important;
}

.gitcalendar-graph {
    padding: 5px 0 0 !important;

}

.social-qq:before {
    content: "\e626";
    font-size: 24px;
}

span#subtitle:hover {
    color: pink;
    box-shadow: 2px 2px 1px black;
}

#article-container .btn-beautify.outline {
    border-radius: 20px;
    border: 5px solid;
}

#article-container>.genshin-card {
    /* background: linear-gradient(112.88411960494409deg, rgba(248, 198, 215, 1) 2.265625%, rgba(175, 233, 249, 1) 100.70312499999999%); */
    padding: 1%;
    border-radius: 10px;
}

#article-container>.genshin-card>a>img {
    width: 80%;
    border-radius: 10px;
}

/* winbox */
/* 由于全屏会出bug，所以直接给他隐藏 */
.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 18%;
    margin: 1%;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 90px;
}

.box {
    height: 100px;
}

@media screen and (max-width: 768px) {

    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }

    .pimgbox {
        height: 205px;
    }

    /* 2.0新增内容 */
    .wb-min {
        display: none;
    }

    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}

/* 开关按钮 */
.btn-on {
    width: 60px;
    height: 25px;
    margin: 0 auto !important;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

.btn-on {
    cursor: pointer;
    position: relative;
    /* border: 1px solid white; */
    background-color: #ff3456;
}

.btn-on-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: all .6s;
}

.btn-on-text {
    position: absolute;
    right: 10px;
    line-height: 25px;
    color: white;
    transition: all .6s;
}

/* cat猫咪滑动 */
body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 32px;
    height: 32px;
    background-image: url("https://bu.dusays.com/2022/11/17/6375f7ca6945f.png");
    position: absolute;
    right: 57px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-weight: 600;
    font-size: 8px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 60px;
    height: 60px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 55%;
    text-align: center;
    line-height: 60px;
    top: -115%;
}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: transparent;
}

/**
 * @description: 滚动条样式  跟猫二选一
 */
@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}

/* footer */
#footer-wrap {
    color: white
}

#footer-wrap a {
    color: white;
    height: 44px;
    line-height: 36px
}

#footer-wrap a:hover {
    color: #ff3456;
    background-color: none
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center
}

@media screen and (max-width: 768px) {
    img.footer_mini_logo {
        display: none
    }

    div#footer_deal {
        flex-wrap: wrap;
        flex-direction: row
    }
}

a.deal_link {
    display: flex;
    margin: 1rem 20px;
    /* color: blue; */
    border-radius: 3rem;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    transition: .5s
}

a.deal_link:hover {
    color: white;
    background: #ff3456
}

img.footer_mini_logo {
    width: 64px;
    height: 64px;
    margin: 0 1rem;
    cursor: pointer;
    transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
    filter: drop-shadow(0 2px 2px pink);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
    img.footer_mini_logo:hover {
        transform: scale(1.03)
    }

    img.footer_mini_logo:active {
        transform: scale(.97)
    }
}

#weblogo {
    align-self: center
}

#footer-wrap a#Jayblog_footerlogo:hover {
    background: none
}

.Jayblog_footerlogo_img {
    filter: drop-shadow(0 12px 12px #ee7d7936)
}

.Jayblog_footerlogo_img:hover {
    transform: scale(1.03)
}

.blog-slider__content {
    padding-left: 0 !important;
}

/* 文章post-item修改分类 */
.recent-post-item .recent-post-info .article-meta-wrap .article-meta .article-meta__categories {
    position: absolute;
    top: .4rem;
    right: 1rem;
    /* background: #6239ae2d; */
    backdrop-filter: saturate(180%) blur(50px);
    border-radius: .4rem;
    color: rgb(252, 206, 120) !important;
    font-weight: 600 !important;
    font-size: 90% !important;
    padding: .2rem .8rem;
}

.recent-post-item .recent-post-info .article-meta-wrap .article-meta .article-meta__categories:hover {
    text-decoration: none !important;
    /* background: transparent !important; */
    backdrop-filter: saturate(220%) blur(100px)
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    margin-bottom: 0 !important;
}

.article-meta-wrap .iconfont {
    font-size: 110%;
}

/* .recent-post-item .recent-post-info .article-meta-wrap .article-meta:nth-child(2):hover a{
    text-decoration: none !important;
    background: none !important;
} */

/* card-announcement */
.aside-content>.card-announcement {
    background: url(https://bu.dusays.com/2022/11/22/637ce7ce67d6a.jpg) center / cover no-repeat !important;
    background-size: cover !important;
    box-shadow: 2px -4px 10px 10px #ff90906b inset !important;
}

/* banner_index */
#random {
    width: 24% !important;
    border-radius: 16px;
    margin-top: 1rem;
    background: url(https://bu.dusays.com/2022/11/22/637ce7ce67d6a.jpg) center / cover no-repeat;
    background-size: cover;
    border-radius: 16px;
    border: 2px solid black;
    font-size: 1.4rem;
    position: relative;
}

#random-banner {
    display: none;
}

#random:hover {
    border: 2px solid pink;
    transition: all 0.3s;
}

#random:hover #random-hover {
    display: block !important;
}

#random-banner {
    width: 100% !important;
    height: 100% !important;
    border-radius: 16px;
}

#random-banner:hover {
    background: transparent;
    backdrop-filter: blur(10px) saturate(120%);
    transition: all 0.3s;
}

#random-hover {
    position: absolute;
    bottom: 0%;
    /* right: 0%; */
    /* height: 100% !important; */
    border-radius: 16px;
}

#random-hover:hover {
    background: transparent;
    backdrop-filter: blur(10px) saturate(120%);
    transition: all 0.3s;
}

/* #random-hover:hover .fa-paper-plane {
    position: absolute;
    right: 2%;
    transition: all 3s;
} */

/* #random-hover:hover {
    -webkit-backdrop-filter: blur(20px) saturate(150%);
} */

.recent-posts>.recent-post-item:first-child {
    width: 74% !important;
}

@media screen and (max-width: 1050px) {
    #random {
        display: none !important;
    }

    .recent-posts>.recent-post-item:first-child {
        width: 100% !important;
    }
}

#footer {
    /* background: linear-gradient(180deg, blue 0, yellow 25%); */
    margin-top: 1rem;
    display: flex;
    /* backdrop-filter: saturate(150%) blur(20px); */
    flex-direction: column;
    /* z-index: 1002 */
}

@media screen and (max-width: 768px) {
    #footer {
        /* background: linear-gradient(180deg, blue 0, yellow 25%); */
        margin-top: 0;
        z-index: 999;
        display: none !important;
    }
}

[data-theme=dark] #footer:before,
[data-theme=dark] #page-header:before,
[data-theme=dark] #web_bg:before {
    background-color: transparent !important
}

@media screen and (max-width: 768px) {
    #letlink {
        flex-direction: column !important;
        text-align: center !important
    }

    #letlogo {
        display: none !important
    }

    #footer-wrap {
        margin-top: 1rem !important
    }
}

.footer-banner-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
    text-align: left !important;
    max-width: 1100px;
    margin: 0 auto
}

#footer-wrap h1 {
    font-size: 1.5rem;
    margin: 0
}

#footer-wrap h3 {
    padding: 0 12px
}

#footer-wrap p {
    margin: 0 0 0 .2rem;
    font-size: .8rem;
    opacity: .8
}

#footer-wrap i {
    margin-right: .5rem;
    width: 22px;
    font-size: 18px;
    display: inline-block
}

#footer-wrap #letlogo {
    display: flex;
    flex-direction: column;
    /*margin-right: 60px;*/
    align-self: center;
    margin: auto 0;
    max-width: 200px
}

#footer-wrap #letlink .link_group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 180px
}

#footer-wrap #letlink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem 0
}

#weblogo i {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -10px
}

#footer:before {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    content: '' !important;
    z-index: -1
}

#Jay-footer .footer-links {
    display: flex;
    flex-direction: column
}

#Jay-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* border-radius: 50px; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1rem
}

#Jay-footer .footer-item {
    font-size: 1.2rem;
    line-height: 1rem;
    margin: .7rem 0;
    color: white;
    /*margin-right: auto*/
}

#Jay-footer .footer-item:hover {
    color: #ff3456
}

#Jay-footer .footer-title {
    color: pink;
    font-size: 1.6rem;
    margin: 0 auto;
}

#footer-banner {
    padding: 1rem;
    color: white;
    /* margin-top: 1rem; */
    backdrop-filter: saturate(150%) blur(20px);
    background: transparent;
    display: flex;
    /* overflow: hidden; */
    z-index: -1;
    transition: .5s;
    /*border-top: var(--style-border)*/
}

[data-theme=dark] #footer-banner {
    background: transparent
}

#footer-banner .footer-banner-links {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

#footer-banner .footer-banner-left {
    display: flex;
    flex-wrap: wrap;
    color: plum;
    margin: 0 auto;
}

#footer-banner .footer-banner-link {
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap
}

#footer-banner .footer-banner-link.cc {
    margin-right: 0
}

#footer-banner .footer-banner-link.cc i {
    margin-right: .5rem
}

#footer-banner .footer-banner-link:hover {
    color: #ff3456
}

#footer-banner>div>div.footer-banner-left>span {
    margin-right: 1rem
}

#footer-banner .footer-banner-right a:hover {
    color: plum
}

#footer_deal i {
    font-size: 2rem;
    transition: .8s;
    line-height: 1.3rem;
    height: 1.3rem
}

/* 颜色 */
[data-theme="light"] {
    --roydon-card-bg: rgba(255, 255, 255, .9);
}

[data-theme="dark"] {
    --roydon-card-bg: rgba(0, 0, 0, .9);
}

/* essay_page.css */
#page:has(#essay_page) {
    /* border: 0; */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
    /* padding: 0 !important; */
    /* background: transparent !important; */
}

/* #page:has(#essay_page) .page-title {
    display: none;
} */

/* #web_bg~.page:has(#essay_page) {
    background: var(--anzhiyu-background);
} */

#bber .bber-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: .3rem;
}

#bber .bber-container-img .bber-content-noimg {
    width: calc(100% / 2 -5px);
}

#bber .bber-content-img {
    height: 100px;
    border-radius: 8px;
    margin: 0 auto 5px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2 - 5px);
}

#bber .bber-content-img img {
    object-fit: cover;
    margin: 0 auto;
    max-height: 100%;
    border-radius: 8px;
}

#bber .bber-content .datacont {
    order: 0;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    line-height: 1.2rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#bber p {
    margin: 0px;
}

#bber div.bber-content {
    display: flex;
    flex-flow: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

#bber .timeline ul li.bber-item {
    position: relative;
    width: 32%;
    border-radius: 12px;
    padding: 1rem 1rem 0.5rem;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: var(--roydon-card-bg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 2%;
}

#bber .timeline #waterfall.show {
    opacity: 1;
}

#bber .timeline #waterfall {
    opacity: 0;
    transition: all 0.3s ease 0s;
}

#bber ul.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#bber {
    margin-top: 1rem;
    width: 100%;
}

#bber>section>ul>li.bber-item {
    margin-bottom: 1rem;
}

#bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#bber .timeline ul li.bber-item hr {
    display: flex;
    position: relative;
    margin: 1rem 0 0;
    border: 1px dashed rgba(255, 192, 203, 0.6);
    width: 100%;
}

#bber .bber-info {
    display: flex;
    align-items: center;
}

#bber>section>ul>li>div .bber-info-time,
#bber>section>ul>li>div .bber-info-from {
    font-size: 0.88rem;
    background-color: rgba(43, 40, 52, 0.3);
    padding: 0px 8px;
    border-radius: 20px;
    cursor: default;
    display: flex;
    align-items: center;
}

#bber .bber-info .far.fa-clock {
    margin-right: 4px;
}

#bber>section>ul>li>div .bber-info-from span,
#bber>section>ul>li>div .bber-info-from {
    margin-left: 4px;
    background: #ffc0cbe8;
    border-radius: 12px;
}

#bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#bber .bber-bottom .bber-reply {
    cursor: pointer
}

#bber .timeline ul li.bber-item:hover {
    border: 1px solid pink;
}

#bber .bber-content-link {
    display: flex;
    margin-left: 0.5rem;
    font-size: 0.88rem;
    align-items: center;
    background-color: rgba(245, 97, 97, 0.13);
    color: #ff3456;
    padding: 0px 8px;
    border-radius: 20px;
}

#bber .bber-content-link i {
    margin-right: 3px;
}

#bber .bber-content-link:hover {
    background-color: #ff3456;
    color: white;
}

#bber .bber-music {
    width: 100%;
    height: 90px;
    margin: 0.5rem 0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d6def5;
    background: #0000ff2e;
}

#bber .aplayer {
    margin: 0;
    width: 100%;
    height: 100%;
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px !important;
    width: 82px !important;
    margin: 4px;
    border-radius: 6px !important;
}

.bber-music .aplayer.aplayer-withlrc .aplayer-info {
    padding: 5px 7px 0;
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
}

/* #bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center;
} */

/* #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0;
} */
.bber-info>.bber-content-link>.iconfont {
    font-size: 0.88rem;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: gray;
    height: 6px;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 8px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 8px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none;
}

/* 顶部样式 */
#essay_page .author-content {
    min-height: 25rem;
}

#essay_page .author-content .author-content-item.essayPage {
    height: 26rem;
    width: 82%;
    margin-right: 2%;
    background: url(https://bu.dusays.com/2022/11/17/637615a3af26b.png) left center / cover no-repeat;
    color: wheat;
    overflow: hidden;
    /* margin-top: 0px; */
}

#essay_page .author-content .author-content-item.essayPage-right {
    width: 16%;
    height: 26rem;
    background: url(https://bu.dusays.com/2022/11/17/637607ee5d734.gif) left center / cover no-repeat;
    color: blueviolet;
    overflow: hidden;
    /* margin-top: 0px; */
}

.bber-info-from>.iconfont {
    font-size: 0.88rem;
}

/* 响应式 */
@media screen and (max-width: 1300px) {
    #bber .timeline ul li.bber-item {
        width: 49%;
        margin-right: 1%;
    }
}

@media screen and (max-width: 768px) {
    #essay_page .author-content {
        margin: 1rem 0;
    }

    #essay_page .author-content .author-content-item {
        margin: 1rem 0;
    }

    #essay_page .author-content .author-content-item.essayPage {
        margin-right: 0 !important;
        height: 200px;
    }

    #bber .timeline ul li.bber-item {
        width: 100%;
        margin-right: 0px;
    }
}

[data-theme="dark"] #bber .bber-music .aplayer,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:before,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:after {
    background: none !important;
}

/* index_bbtimebar */
#bbTimeList {
    background: var(--roydon-card-bg);
    padding: 0.5rem 1rem;
    border-radius: 16px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    transition: all 0.6s ease 0s;
    margin: 20px auto 0;
    align-items: center;
    height: 3rem;
    width: 100%;
}

#bbtalk {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bber-talk {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

.bber-logo {
    font-size: 2rem;
    line-height: 2rem;
    margin-right: 2rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.bber-gotobb {
    line-height: 20px;
    margin-left: 2rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#bber-talk .li-style {
    width: 100%;
    max-width: 100%;
    height: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
    font-weight: 800;
    margin: auto;
    cursor: pointer;
    white-space: nowrap;
}

#bbTimeList:hover {
    border: 2px solid pink;
    font-size: 1.1rem;
    color: #ff3456;
    transition: all 0.3s ease-out 0s;
}

/* 文章页H1-H6图标样式效果 */
.bbTimeList .bber-logo {
    animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

/* div{
    backdrop-filter: saturate(150%) blur(20px);
} */