/* 颜色 */
:root {
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-white: #fff;
  --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
  --anzhiyu-black: #000;
  --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
  --anzhiyu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --global-bg: #191919;
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}

/* #web_bg ~ .page:has(.fcircle_page) {
  background-color: none !important;
}
[data-theme="dark"] #web_bg ~ .page:has(.fcircle_page) {
  background-color: none !important;
} */

/* 顶部样式 */
.fcircle_page .author-content.fcirclePage {
  height: 19rem;
  color: var(--anzhiyu-white);
  overflow: hidden;
  margin-top: 0px;
}

#page:has(.fcircle_page) .page-title {
  display: none;
}

#page:has(.fcircle_page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

.fcircle_page a {
  border-bottom: none !important;
}

.fcircle_page .cf-article-avatar a:hover {
  background: none !important;
  color: var(--anzhiyu-fontcolor) !important;
}

#fcircleContainer {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cf-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--anzhiyu-shadow-border);
  margin: 8px 0;
  border-radius: 8px;
  font-weight: bolder;
  overflow: hidden;
  transition: all ease-out 0.3s;
  position: relative;
  padding: 0.8rem;
  padding-bottom: 0.4rem;
  width: calc(50% - 12px);
  background: var(--anzhiyu-card-bg);
  border: var(--style-border-always);
}

#article-container .cf-article a.cf-article-title,
#article-container .cf-article-author,
#article-container .cf-article:hover .cf-article-floor,
#article-container .cf-article:hover .cf-time-created,
#article-container .cf-article:hover .cf-time-updated {
  color: var(--anzhiyu-fontcolor);
  opacity: 1;
}

#cf-change,
.cf-article-floor,
.cf-time-created,
.cf-time-updated {
  color: var(--anzhiyu-fontcolor);
  opacity: 0.4;
  transition: 0.3s;
}

.cf-article-avatar {
  line-height: 35px;
  display: flex;
  justify-content: space-between;
}

img.cf-img-avatar {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.cf-img-avatar {
  align-self: center;
  text-align: center;
  width: 22px !important;
  height: 22px !important;
  min-width: 22px !important;
  min-height: 22px !important;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.3rem;
}

.cf-article-author {
  line-height: 35px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  align-self: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.cf-article-time {
  font-size: 14px;
  text-align: right;
  float: right;
  font-weight: 400;
}

.cf-time-created,
.cf-time-updated {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

.cf-time-created,
.cf-time-updated {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

.cf-time-created i.far,
.cf-time-updated i.fas {
  padding-right: 8px;
}

.cf-article:hover {
  transition: 0.3s;
  border: var(--style-border-hover);
  box-shadow: var(--anzhiyu-shadow-main);
}

#fcircleContainer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: none;
}

.cf-article-floor {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-style: italic;
  font-size: 3rem;
  line-height: 1.5rem;
  z-index: 1;
  font-weight: 400;
  display: none;
}

.cf-article-title {
  font-weight: 500;
  position: relative;
  z-index: 2;
  margin-right: auto;
  display: block;
  letter-spacing: 1.5px;
  font-size: 18px;
  align-self: start;
  text-align: left;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
}

#cf-more,
#cf-state {
  background: var(--anzhiyu-card-bg);
  color: var(--anzhiyu-fontcolor);
  border: var(--style-border);
  box-shadow: var(--anzhiyu-shadow-border);
}

#cf-more {
  width: 40%;
  max-width: 810px;
  height: 30px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 12px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.3s;
}

#cf-footer {
  margin: 1rem 0;
  text-align: right;
  font-size: 13px;
}

.cf-data-lastupdated {
  font-size: 13px;
  text-align: right;
  display: block;
  color: var(--anzhiyu-secondtext);
}

.cf-data-lastupdated {
  font-size: 13px;
  text-align: right;
  display: block;
  color: var(--anzhiyu-secondtext);
}

#cf-more:hover {
  width: 60%;
  background: var(--anzhiyu-main);
  color: var(--anzhiyu-white);
  border: var(--style-border-hover);
  box-shadow: var(--anzhiyu-shadow-main);
}

/* 点击头像弹窗样式 */
#cf-overlay.cf-show-now {
  left: 0;
}

#cf-overlay {
  top: 0;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.42);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-y: auto;
  pointer-events: all;
  transition: all 0.1s ease;
  z-index: 998;
}

#cf-overshow.cf-show-now {
  bottom: 0;
  transition: 0.3s;
}

#cf-overshow {
  bottom: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 999;
  transition: 0.3s;
}

#cf-overlay,
#cf-overshow {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cf-overshow .cf-overshow-close {
  position: sticky;
  display: block;
  width: 100%;
  height: 100%;
}

.cf-overshow {
  text-align: center;
  border-radius: 20px;
  position: absolute;
  width: 320px;
  min-height: 170px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 40px rgb(0 0 0 / 9%);
  background: var(--anzhiyu-theme);
}

.cf-overshow .cf-overshow-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cf-overshow img.cf-img-avatar {
  background: #fff;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  margin: 15px auto 0 !important;
  box-shadow: 0 12px 40px rgb(0 0 0 / 9%);
  transform: rotate(-360deg);
  transition: 0.8s;
  display: inline !important;
}

.cf-overshow .cf-overshow-head a {
  color: var(--anzhiyu-white) !important;
  display: block;
  text-align: center;
  font-weight: 700;
  margin-top: -5px;
  padding: 5px 8px 5px;
  text-decoration: none;
}

.cf-overshow .cf-overshow-content {
  padding: 10px 15px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: var(--anzhiyu-card-bg);
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: scroll;
}

.cf-overshow .cf-overshow-content .cf-article-title {
  margin: 0;
}

#article-container #cf-overshow.cf-show-now p a.cf-article-title {
  text-decoration: none !important;
  display: block;
  text-align: justify;
  position: relative;
  z-index: 2;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: normal;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--anzhiyu-fontcolor);
}

#article-container #cf-overshow.cf-show-now p a.cf-article-title:hover,
#page .fcircle_page #fcircleContainer .cf-article a.cf-article-title:hover,
#page #article-container .fcircle_page .title-h2-a-right a.random-post-all:hover,
#page #article-container .fcircle_page .title-h2-a-left a.random-post-start:hover {
  background: none;
  box-shadow: none;
  color: var(--anzhiyu-theme);
}

.cf-overshow p span {
  color: var(--anzhiyu-fontcolor);
  opacity: 0.4;
}

.cf-overshow p span {
  z-index: 1;
  font-size: 12px;
  margin-left: auto;
}

.cf-overshow p {
  margin: 0.3rem 5px !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

#cf-overlay,
#cf-overshow {
  transition: 0.3s;
}

.cf-overshow p a:hover {
  color: var(--anzhiyu-lighttext) !important;
}

.title-h2-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.title-h2-a-left {
  display: flex;
  align-items: center;
}

.title-h2-a-left h2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.title-h2-a a {
  margin-left: 0.5rem;
  color: var(--anzhiyu-secondtext);
  font-weight: 700;
}

#random-post {
  min-height: 32px;
  background: var(--card-bg);
  border: var(--style-border-always);
  box-shadow: var(--anzhiyu-shadow-border);
  padding: 20px 30px;
  border-radius: 12px;
  margin-top: 8px;
}

#random-post .random-friends-post {
  text-decoration: none;
  border-bottom: 2px solid var(--anzhiyu-lighttext) !important;
  color: var(--anzhiyu-fontcolor);
  font-weight: 700;
  padding: 0 4px;
}

#random-post .random-friends-post:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--anzhiyu-none) !important;
  color: var(--anzhiyu-white) !important;
  background: var(--anzhiyu-main) !important;
  border-radius: 4px;
  box-shadow: var(--anzhiyu-shadow-main);
}

#article-container .title-h2-a a:hover {
  color: var(--anzhiyu-hovertext) !important;
}

.fcircle_page .author-content-item .card-content .banner-button-group .banner-button:hover {
  background: var(--anzhiyu-main) !important;
  color: var(--anzhiyu-white) !important;
  border-radius: 20px !important;
}

@media screen and (max-width: 768px) {
  .cf-article {
    box-shadow: none !important;
    width: 100%;
  }
}

.fcircle_page-page-background#web_bg {
  background: var(--anzhiyu-background) !important;
}

[data-theme="dark"] .fcircle_page-page-background#web_bg {
  background: var(--global-bg) !important;
}

[data-theme="light"] .page:has(.fcircle_page) #footer #footer-wrap,
[data-theme="light"] .page:has(.fcircle_page) #footer #footer-wrap a {
  color: var(--font-color);
}

.fcircle_page .author-content.author-content-item.fcirclePage {
  position: relative;
  border-radius: 15px;
}

.fcircle_page .author-content-item .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.fcircle_page .author-content-item .author-content-item-tips {
  opacity: 0.8;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.fcircle_page .author-content-item .card-content .author-content-item-title {
  margin-bottom: 0.5rem;
}

.fcircle_page .author-content-item .author-content-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.fcircle_page .author-content-item .content-bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fcircle_page .author-content-item .card-content .banner-button-group {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}

.fcircle_page .author-content-item .card-content .banner-button-group .banner-button {
  height: 40px;
  width: 124px;
  border-radius: 20px;
  justify-content: center;
  background: var(--anzhiyu-card-bg);
  color: var(--font-color);
  display: flex;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 0 !important;
}

.fcircle_page .author-content-item .card-content .banner-button-group .banner-button i {
  margin-right: 8px;
  font-size: 1rem;
}

.fcircle_page b,
.fcircle_page strong {
  color: var(--anzhiyu-lighttext);
}