#content-inner {
  filter: none !important;
  transform: none !important;
  perspective: none !important;
}

.flink-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flink-card-content-item {
  width: 100%;
  border-radius: 16px;
  background: var(--roydon-card-mask);
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.flink-card-content-item .flink-card-content-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.flink-card-content-item.everyone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  /* min-height: 400px; */
}

.flink-card-content-item.everyone .everyone-style-everyone {
  position: relative;
}

.flink-card-content-item.everyone .tags-everyone-all {
  display: flex;
  transform: rotate(0);
  transition: 0.3s;
}

.flink-card-content-item.everyone .tags-everyone-wrapper {
  display: flex;
  flex-wrap: nowrap;
  /* animation: rowup 50s linear infinite; */
  animation: myScroll 50s linear infinite;
}

@keyframes myScroll {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.tags-everyone-iconfont-pair {
  margin-left: 1rem;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont img {
  width: 100%;
  height: 100%;
  box-shadow: var(--roydon-box-shadow);
  border-radius: 64px;
}

.tags-everyone-iconfont img {
  width: 80%;
  margin: 0 auto !important;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont:nth-child(even) {
  margin-top: 1rem;
  transform: translate(-60px);
}