#content-inner {
  filter: none !important;
  transform: none !important;
  perspective: none !important;
}

.flink-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flink-card-content-item {
  width: 100%;
  border-radius: 16px;
  background: var(--roydon-card-mask);
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.flink-card-content-item .banners-title-big {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.flink-card-content-item.everyone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  position: relative;
  /* min-height: 400px; */
}

.flink-card-content-item .banners-title {
  left: 2rem;
  top: 1rem;
  position: absolute;
  flex-direction: column;
  display: flex;
}

.flink-card-content-item .banner-button-group {
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
}

.flink-card-content-item .banner-button-group button {
  background: var(--roydon-button-bg);
  padding: 16px 12px;
  border-radius: 16px;
  box-shadow: var(--roydon-box-shadow);
  color: var(--font-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.flink-card-content-item .banner-button-group button:hover {
  background: var(--roydon-button-hover-bg);
}

.flink-card-content-item .banner-button-group button i {
  margin-right: 0.2rem;
}

.flink-card-content-item.everyone .everyone-style-everyone {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  transform: rotate(0deg);
}

.flink-card-content-item.everyone .tags-everyone-wrapper {
  margin-top: 7em;
  display: flex;
  flex-wrap: nowrap;
  /* animation: rowup 50s linear infinite; */
  animation: 50s linear 0s infinite normal none running linkScroll;
  -webkit-animation: 50s linear 0s infinite normal none running linkScroll;
}


@keyframes linkScroll {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }

  100% {
    transform: translateX(-40%);
    -webkit-transform: translateX(-40%);
  }
}

.tags-everyone-iconfont-pair {
  margin-left: 1rem;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont img {
  width: 100%;
  height: 100%;
  box-shadow: var(--roydon-box-shadow);
  border-radius: 64px;
}

.tags-everyone-iconfont img {
  width: 80%;
  margin: 0 auto !important;
}

.tags-everyone-iconfont-pair .tags-everyone-iconfont:nth-child(even) {
  margin-top: 1rem;
  transform: translate(-60px);
}