/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "ali-song";
    src: url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/gRyhHl3ThWATQBmuOX84e.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jmF1bH9rSbIN/WQDY8KjcBMPEloQD1bmEW.woff") format("woff");
    font-display: swap;
}

/* nav 设置透明 */
#page-header.nav-fixed #nav {
    /* background: rgba(60, 49, 57, 0.6) */
    box-shadow: none !important;
}

div#menus>.menus_items {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#menus {
    font-family: "ali-song";
    font-size: 1.2em;
    line-height: 1.5;
}

#nav .site-page-to {
    position: relative;
    padding-bottom: 6px;
    font-size: 0.72em;
    cursor: pointer;
}

#search-button a {
    margin: 0 2px;
    padding: 7px 8px 0;
    border: 1px solid rgba(49, 46, 46, 0.32);
    border-radius: 8px;
    box-sizing: border-box;
    line-height: 1;
    background: rgba(0, 0, 0, 0.1);
}

#search-button a:hover {
    border: 1px solid rgba(90, 80, 82, 0.666);
    background-color: rgba(13, 12, 12, 0.096);
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px rgb(43, 39, 39);
    opacity: 1;
}

/* #site-name */
#nav #site-name {
    font-size: 1.2em;
}

#nav #site-name:hover {
    font-weight: 900;
}

[data-theme='light'] #nav a:hover {
    color: blueviolet;
}

[data-theme='dark'] #nav a:hover {
    color: pink;
}

[data-theme='light'] .menus_item_child span:hover {
    color: blueviolet;
}

[data-theme='dark'] .menus_item_child span:hover {
    color: pink;
}

/* 导航子菜单透明度 */
/* [data-theme='dark'] #nav .menus_items .menus_item .menus_item_child {
    background-color: rgba(50, 47, 48, 0.7) !important;
}

[data-theme='light'] #nav .menus_items .menus_item .menus_item_child {
    background-color: rgba(253, 243, 245, .7) !important;
} */

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: rgb(29, 24, 24);
    background-color: pink;
}

/* 页脚透明 */
#footer {
    background: transparent !important;
    height: 66px;
}



#site-name:hover::before {
    opacity: 1;
    scale: 1.03;
}

#site-name {
    position: relative;
    font-size: 24px;
    /*一定要把字体调大点，否则效果惨不忍睹！*/
}

@media screen and (max-width: 768px) {
    .mask-name-container {
        width: 600px;
    }
}

@media screen and (max-width: 500px) {
    .mask-name-container {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    #nav a:hover {
        transform: scale(1.03);
    }
}

.back-home-button:hover {
    background: pink;
    color: #ff3456 !important;
}

.back-home-button {
    display: flex;
    width: 40px;
    height: 80%;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1;
    transition: 0.3s;
    border-radius: 10px;
}

.back-home-button:hover .back-menu-list-groups {
    display: flex;
    opacity: 1;
    transition: 0.3s;
    top: 55px;
    pointer-events: auto;
    left: 0;
}

/* 导航栏模糊透视 */
#nav {
    padding: 0 calc((100% - 1420px) / 2);
    /* background: block; */
    backdrop-filter: saturate(150%) blur(20px);
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

[data-theme='dark'] #page-header.nav-fixed>#nav,
[data-theme='dark'] #page-header.not-top-img>#nav {
    background: none !important;
}

.back-home-button .back-menu-list-groups {
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    /* border: 1px dotted pink; */
    flex-direction: column;
    font-size: 12px;
    font-weight: 800;
    color: white;
    /* box-shadow: var(--anzhiyu-shadow-border); */
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.back-home-button .back-menu-list-group {
    display: flex;
    flex-direction: column;
}

.back-home-button .back-menu-list-group .back-menu-list-title {
    margin: 8px 0 0 16px;
    color: rgb(246, 104, 127);
    transition: 0.3s;
}

.back-home-button-icon {
    font-size: 1.3em;
}

.back-home-button .back-menu-list {
    display: flex;
    flex-direction: column;
}

.back-home-button .back-menu-list::before {
    position: absolute;
    top: -22px;
    left: 0px;
    width: 100%;
    height: 25px;
    content: '';
}

.back-home-button .back-menu-list-group:hover .back-menu-list-title {
    color: pink;
}

.back-home-button .back-menu-list-groups:hover {
    border: black;
}

.back-home-button .back-menu-list .back-menu-item {
    display: flex;
    align-items: center;
    margin: 2px 8px;
    padding: 4px 8px !important;
    border-radius: 6px;
    transition: 0.3s;
}

.back-home-button .back-menu-list .back-menu-item:hover {
    background: rgb(0, 0, 0);
}

.back-home-button .back-menu-list .back-menu-item .back-menu-item-text {
    font-size: 14px;
    margin-left: 0.5rem;
    color: whitesmoke;
    white-space: nowrap;
}

.back-home-button .back-menu-list .back-menu-item .back-menu-item-icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    /* background: plum; */
}

#page-header #nav .back-home-button {
    color: pink;
    cursor: pointer;
    position: relative;
}

.back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
    color: #ff3456;
}

.back-menu-item-icon.loading img {
    width: 25px;
}

#site-name,
.shuoshuo {
    white-space: nowrap;
    overflow: hidden;
}

#site-name {
    padding: 0 2px;
    margin-left: 4px;
    position: relative;
}

#site-name *:not(i):hover {
    display: none !important;
}

#blog_name #site-name:hover::after {
    opacity: 1;
    transform: scale(1.01);
}

#site-name::before {
    opacity: 0;
    background-color: pink !important;
    border-radius: 12px;
    transition: .3s;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100%;
    content: "\f015";
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color: #ff3456;
    font-size: 20px;
}

#blog_name #site-name::after {
    opacity: 0;
    background-color: pink !important;
    border-radius: 12px;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '\f015';
    font-family: 'Font Awesome 6 Free';
    text-align: center;
    color: #dbbdfd !important;
}

#site-name i {
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    left: 0;
    opacity: 0;
}

#site-name:hover i {
    opacity: 1;
}

#nav #blog_name {
    flex-wrap: nowrap;
    height: 60px;
    display: flex;
    align-items: center;
    /* z-index: 102; */
    transition: 0.3s;
}