/* .aside-card-widget {
    background-color: rgba(255, 255, 255, 0.8)
    
}

#recent-posts>.recent-post-item {
    background-color: rgba(255, 255, 255, 0.8)
} */
:root {
    --blockquote-color: #333;
    --card-bg: rgba(250, 250, 250, .75);
}

#page-header.post-bg {
    height: 250px;
}
#page-header #post-info {
    position: absolute;
    bottom: 30px;
    padding: 0 8%;
    width: 100%;
    text-align: center;
}
#page-header.not-home-page {
    height: 250px;
}
#page-header #page-site-info {
    position: absolute;
    top: 90px;
    padding: 0 10px;
    width: 100%;
}
/* .pagination-post>.prev-post{
    border-radius: 8px;
} */

.pagination-post>.prev-post ,.pull-left,.next-post .pull-right{
    border-radius: 8px;
}

.framework-info{
    display: none;
}
#footer-wrap {
    padding: 0px 20px
}
#ghbdages{
    margin: 0 auto;
}