/* 网页div的圆角 */
.cardHover,
.error404 #error-wrap .error-content,
.layout>div:first-child:not(.recent-posts),
#recent-posts>.recent-post-item,
#aside-content .card-widget,
.layout>.recent-posts .pagination> :not(.space) {
    border-radius: 16px !important;
}

#page-header #post-info {
    position: absolute;
    bottom: 30px;
    padding: 0 8%;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}

.framework-info {
    display: none;
}

#footer-wrap {
    padding: 0px 20px
}

#ghbdages {
    margin: 0 auto;
}

#aside-content .card-info #card-info-btn:hover {
    margin: 4px 12%;
    transition: .3s;
}

#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
/* 侧边栏卡片渐变 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg, rgb(176, 61, 82), #66116e, #380d7b, #8d0b6a);
    background-size: 400%;
    animation: gradient 5s ease infinite;
    position: relative;
    color: white;
}

.site-data>a .headline,
.site-data>a .length-num {
    color: rgb(126, 249, 249);
    font-weight: 800;
}