/* .aside-card-widget {
    background-color: rgba(255, 255, 255, 0.8)
    
}

#recent-posts>.recent-post-item {
    background-color: rgba(255, 255, 255, 0.8)
} */
:root {
    --card-bg: rgba(250, 250, 250, .8);
    /* --page-bg: rgba(0, 0, 0, 0.8); */
}


#page-header.post-bg {
    height: 397px;
    /* background-image: '' */
}

#page-header #post-info {
    position: absolute;
    bottom: 30px;
    padding: 0 8%;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}

#page-header.not-home-page {
    height: 200px;
}

#page-header #page-site-info {
    position: absolute;
    top: 90px;
    padding: 0 10px;
    width: 100%;
}

/* .pagination-post>.prev-post{
    border-radius: 8px;
} */

.pagination-post>.prev-post,
.pull-left,
.next-post .pull-right {
    border-radius: 8px;
}

.framework-info {
    display: none;
}

#footer-wrap {
    padding: 0px 20px
}

#ghbdages {
    margin: 0 auto;
}

#recent-posts>.recent-post-item .post_cover {
    border-radius: 8px;
}

/* #recent-posts > .recent-post-item {
    height: 14.5em;
} */
#aside-content .aside-list>.aside-list-item .thumbnail>img {
    border-radius: 8px;
}

#aside-content .card-info #card-info-btn {
    background: rgb(200, 136, 146);
    border-radius: 8px;
    margin: 14px 0;

}
#aside-content .card-info #card-info-btn:hover {
    background: #450a4a;
    transition: .2s;
    font-size: 15px;
    /* border-radius: 8px; */
    /* margin: 14px 30px; */

}

#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* #web_bg {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: url(/img/mc-cao.jpg);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-size: auto;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  } */

/* 侧边栏卡片渐变 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg, rgb(99, 60, 67), #450a4a, #280a57, #520b3f);
    background-size: 400%;
    box-shadow: black;
    animation: gradient 15s ease infinite;  
    position: relative;
    color: rgb(233, 239, 239);
}

.site-data>a .headline,
.site-data>a .length-num {
    color: rgb(126, 249, 249);
}