#post .post-content h1 {
    color: rgb(255, 0, 128);
}

#post .post-content h1::after {
    content: 'H1🔽';
    color: #5bfef0;
    position: absolute;
    right: 0%;
}

#post .post-content h2 {
    color: rgb(255, 68, 161);
}

#post .post-content h2::after {
    content: 'H2🔽';
    color: #5bfef0;
    position: absolute;
    right: 0%;
}

#post .post-content h3 {
    color: rgb(255, 120, 188);

}

#post .post-content h3::after {
    content: 'H3🔽';
    color: #5bfef0;
    position: absolute;
    right: 0%;
}

#post .post-content h4 {
    color: rgb(255, 177, 216);

}

#post .post-content h4::after {
    content: 'H4🔽';
    color: #5bfef0;
    position: absolute;
    right: 0%;
}

/* 博客页面所有图片圆角 */
.post-content img {
    border-radius: 6px;
}

/* 标签外挂之tabs */
#post .post-content .tabs {
    border: 2px solid pink;
    border-radius: 0 0 12px 12px;
}

[data-theme="light"] #post .post-content .tabs {
    border: 2px solid black;
}

#article-container .tabs>.tab-contents .tab-item-content {
    padding: 3px 3px;
}

#article-container .tab-contents i {
    font-size: 20px;
    color: blue;
}

/* bilibili视频块区域 */
#article-container iframe {
    width: 100%;
    border-radius: 8px;
    min-height: 500px;
}

/* 代码块UI重设置 */
#article-container .code-expand-btn i {
    color: pink;
}

div#post {
    border: 2px solid black;
}

div#post:hover {
    border: 2px solid pink;
    box-sizing: border-box;
}

/* 评论框  */
.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入昵称(自定义)🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '输入邮箱自动获取头像📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

.v[data-class="v"] .vcards {
    padding: 0 20px;
}

/* 查看更多背景色去除 */
.v[data-class="v"] .vcards .vcard .vcontent.expand::before {
    background: none !important;
}

.v[data-class="v"] .vcards .vcard .vcontent.expand::before {
    background: none !important;
}

.v[data-class=v] .vcards .vcard .vcontent.expand {
    max-height: 18em;
}

.v[data-class=v] .vcards .vcard .vcontent.expand::after {
    border-radius: 8px;
    color: #00fff6;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    display: none;
    /* 绝对定位 */
    position: absolute;
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    border-radius: 10px;
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

/* md网站下划线 */
#article-container a:hover {
    color: #ff3456;
    text-decoration: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}